.right_sidebar{
    width:75%;
    float:left;
}
.messages{
    height: 80vh;
    max-height: 80vh;
    overflow-y:auto;
}
.messages::-webkit-scrollbar {
    width:10px;
    border-radius: 20px;
}
.messages::-webkit-scrollbar-track {
    background-color: black;
    border-top-right-radius: 20px;
}
.messages::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 20px;
    border:3px solid black;
    box-sizing: border-box;
}
.current_user{
    position: sticky;
    top: 0;          
    z-index: 10;     
    height:7vh;
    color:white;
    width:100%;
    text-align: center;
    line-height: 7vh;
    font-size:25px;
    background-color: black;
}
.sidebar_text{
    width:90%;
    padding:15px;
    border-radius:20px;
    background-color: #141414;
    color:white;
    font-size:20px;
    margin:2%;
    margin-bottom:20px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    float:left;
}
.me{
    text-align:right;
    background-color: #333333;
    float:right;
}
.sidebar_text p{
    width:100%;
}
.sidebar_input{
    width:100%;
}
.sidebar_inputs{
    width:100%;
    float:left;
    border-top:4px solid #3d3d3d;
}
.send_message_input{
    all:unset;
    width:80%;
    height:10vh;
    float:left;
    padding-left:20px;
    box-sizing: border-box;
    color:white;
    font-size:20px;
    line-height:9vh;
}
.send_message_submit {
    all: unset;
    float: left;
    border-left: 4px solid #3d3d3d;
    height: 10vh;
    width: 20%;
    box-sizing: border-box;
    background-color: none;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    border-bottom-right-radius: 13px;
}

.send_message_submit img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.send_message_submit:hover img {
    transform: scale(1.4);
}

.from{
    font-size:25px;
}